<% if user_signed_in? %>
  <h1>Friend List</h1>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>email</th>
        <th>phone</th>
        <th>twitter</th>
        <th> </th>

      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr>
            <td><%= link_to friend.first_name + ' ' + friend.last_name, friend_path(friend)%></td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            <td><%= link_to 'Delete', friend, data:{turbo_method: :delete}, class: 'btn btn-outline-danger'%></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "New friend", new_friend_path, class:"btn btn-primary" %>
<% else %>
  <h1>Bem vindo ao Friends App</h1>
  <h2>Eh muito bom viu</h2>
<% end %>